* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-bottom: 15px solid rgb(35, 160, 35);
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.clouds {
    position: absolute;
    width: 450px;
    animation: clouds-animation 17s infinite linear;
}

.gameOver {
    position: absolute;
    z-index: 1000;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    width: 650px;
    padding-bottom: 10px;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

button {
    position: absolute;
    padding: 13px 30px;
    font-size: 18px;
    border: 2px solid black;
    background-color: rgb(35, 160, 35);
    color: #fff;
    cursor: pointer;
}

.startBtn {
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
}

.restartBtn {
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
    z-index: 1001;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -450px;
    }

    to {
        right: 100%;
    }
}